// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  padding: 10px;
  background: lightgrey;
}

.footer {
  padding: 10px;
  background: lightgrey;
}
